################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SimpleFactoryPattern/obj
/TestPatterns/bin/Debug/net9.0
/TestPatterns/obj
/SimpleFactoryPattern/bin/Debug/net9.0
/FactoryMethodPattern/bin/Debug/net9.0
/FactoryMethodPattern/obj
/AbstractFactoryPattern/obj
/TestPatterns/bin/Release/net9.0
/AbstractFactoryPattern/bin/Debug/net9.0
/StaticFactoryMethodPattern/bin/Debug/net9.0
/StaticFactoryMethodPattern/obj
/StrategyPattern/bin/Debug/net9.0
/StrategyPattern/obj
/Creational Patterns/AbstractFactoryPattern/bin/Debug/net9.0
/Creational Patterns/AbstractFactoryPattern/obj
/Creational Patterns/FactoryMethodPattern/bin/Debug/net9.0
/Creational Patterns/FactoryMethodPattern/obj
/Creational Patterns/SimpleFactoryPattern/bin/Debug/net9.0
/Creational Patterns/SimpleFactoryPattern/obj
/Creational Patterns/StaticFactoryMethodPattern/bin/Debug/net9.0
/Creational Patterns/StaticFactoryMethodPattern/obj
/Structural Patterns/StrategyPattern/bin/Debug/net9.0
/Structural Patterns/StrategyPattern/obj
/Others Patterns/RepositoryPattern/Domain/Domain/obj
/Others Patterns/RepositoryPattern/Infra/Infra/obj
/Others Patterns/RepositoryPattern/WebApi/WebApi/obj
/Others Patterns/RepositoryPattern/Domain/Domain/bin/Debug/net9.0
/Others Patterns/RepositoryPattern/Infra/Infra/bin/Debug/net9.0
/Others Patterns/RepositoryPattern/WebApi/WebApi/bin/Debug/net9.0
/Others Patterns/RepositoryPattern/Domain/bin/Debug/net9.0
/Others Patterns/RepositoryPattern/Domain/obj
/Others Patterns/RepositoryPattern/Infra/bin/Debug/net9.0
/Others Patterns/RepositoryPattern/Infra/obj
/Others Patterns/RepositoryPattern/WebApi/bin/Debug/net9.0
/Others Patterns/RepositoryPattern/WebApi/obj
